.timeline {
    list-style: none;
}

.item {
    margin-bottom: 60px;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.date {
    width: 110px;
    float: left;
    margin-top: 20px;
}

.content {
    width: 50%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
}

.content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
}